@import url("https://basehold.it/24");

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  Typographic grid information:
  - Common system font (Georgia)

  - Base font-size: 19px // 1.1875em
  - Base line-height: 24px // 1.2631578947em (24px ÷ 19px)
  - Basic line-height values:
    * Quarter line: 6px (24px ÷ 4)
    * Half line: 12px (24px ÷ 2)
    * Full line: 24px (24px)
    * Line and a quarter: 30px (24px × 1.25)
    * Line and a half: 36px (24px × 1.5)
    * Line and three quarters: 42px (24px × 1.75)
    * Double line: 48px (24px × 2)

  - Modular scale: 5:8 // 1.6 (Minor Sixth)
    https://www.modularscale.com/?19&px&1.6
  - Basic modular scale values:
    * -2×:   11.875px
    *  1×:   19.000px
    *  2×:   30.400px
    *  3×:   48.640px
    *  4×:   77.824px
    *  5×:  124.518px
*/

html {
  font-family: Georgia, "Times New Roman", Times, Roman, serif;
  font-size: 1.1875em; /* 19px / 24px = 1.1875 */
  line-height: 1.2631578947em; /* 24px / 19px = 1.2631578947 */
  padding: 1.2631578947em; /* 24px / 19px = 1.2631578947 */
}
h1 {
  font-size: 2.56em; /* 48.640px / 19px = 2.56 */
  line-height: 1.1101973684em; /* 54px / 48.640 =  1.1101973684 */
  padding-bottom: 0.3700657895em; /* 18 / 48.640 = 0.3700657895 */
}
h2 {
  font-size: 1.6em; /* 30.400px / 19px = 1.6 */
  line-height: 1.1842105263em; /* 36px / 30.400 = 1.1842105263 */
  padding-top: 0.3947368421em; /* 12px / 30.400 = 0.3947368421 */
}
p,figure { padding-bottom: 0.6315789474em; } /* 12px / 19px = 0.6315789474em */
a { text-decoration: none; } /* No underlines on links */
img { display: none; } /* Hide the image...there's no actual file anyway */
h2 + ul {
  font-style: italic;
  padding-bottom: 0.6315789474em; /* 12px / 19px = 0.6315789474em */
}
.quick-facts {
  font-style: normal;
  list-style-type: disc;
}
footer {
  font-size: 0.625em; /* 11.875px / 19px = 0.625 */
  padding: 2.0210526316em 0; /* 24px / 11.875px = 2.0210526316 */
}
